.feedback {
  &-title {
    & h2 {
      line-height: calc(32 / 45);
    }

    & p {
      line-height: calc(16 / 23);
    }
  }

  &-products {
    position: relative;
  }

  &-product {
    width: 450px;

    & + & {
      margin-left: 30px;
    }
  }

  &-avatar {
    & img {
      display: block;
      object-fit: cover;
    }
  }

  &-message {
    // Limit to 3 lines and add ellipsis if the content exceeds
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 24px;
  }

  &-control {
    &-prev {
      left: calc(20px + 30px);
    }

    &-next {
      right: calc(20px + 30px);
    }
  }
}

@media screen and (max-width: 767.98px) {
  .feedback {
    gap: 20px;
    &-title {
      & h2 {
        font-size: 36px;
        line-height: calc(25 / 36);
      }

      & p {
        display: block;
        color: var(--body);
        text-align: center;
        line-height: normal;
      }
    }

    &-control-mb {
      display: flex;
    }

    &-control {
      display: none;
    }

    &-products {
      width: 100%;
      max-width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-snap-type: x mandatory; // Enable horizontal snapping

      &::-webkit-scrollbar {
        display: none; // Hide scrollbar
      }
    }

    &-product {
      width: auto;
      padding: 30px;
      flex: 0 0 100%;
      scroll-snap-align: start; // Ensure each product snaps to the start of the container
      scroll-snap-stop: always; // Ensure snapping occurs even if the user scrolls quickly

      & + & {
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .feedback {
    &-control {
      display: none;
    }
    &-products {
      width: 100%;
      max-width: 100%;
      overflow-x: auto;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        display: none; // Hide scrollbar
      }
    }

    &-product {
      width: auto;
      padding: 30px;
      flex: 0 0 calc((100% - 30px) / 2);
    }
  }
}

@media screen and (min-width: 1023.98px) and (max-width: 1439.98px) {
  .feedback-product {
    width: auto;
  }

  .feedback {
    padding: 0 var(--padding-container);
  }
}
