/* Header */

.header-notification-close {
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.header-action {
  display: inline-flex;
  position: relative;
}

.header-action-qty {
  position: absolute;
  right: -13px;
  top: -5px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.header-action-qty svg {
  fill: var(--sale);
}

.header-action-qty-text {
  color: var(--white);
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}

.header-action-qty-text p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-menu {
  & a:hover {
    cursor: pointer;
  }
}

.header-menu-item:hover {
  color: var(--sale);
  cursor: default;
}

.header-menu-item:hover::after {
  content: "";
  background-color: transparent;
  width: 120%;
  height: calc(var(--header-height-desktop) - 20px);
  position: absolute;
  top: 20px;
  left: -10%;
}

.header-menu-item:hover .header-menu-dropdown-icon svg {
  fill: var(--sale);
}

.header-menu-dropdown-icon svg {
  fill: var(--body);
}

.header-menu-dropdown {
  top: calc(var(--header-height-desktop) - 24px);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.05);
  min-width: 250px;
  width: max-content;
  z-index: 7;
}

.header-menu-dropdown.home-active {
  display: block;
  left: -5%;
}

.header-menu-dropdown.shop-active {
  display: block;
  left: auto;
}

@media screen and (max-width: 1200px) {
  .header-menu-dropdown.shop-active {
    left: -30%;
  }

  .header-menu-dropdown.shop-active .header-menu-collection-image {
    width: 247px;
    height: 304px;
  }
}

.header-menu-collection-image {
  width: 268px;
  height: 330px;
  background: url("./assest/images/blazer.webp") lightgray 50% / contain
    no-repeat;
}

.header-menu-collection-image:nth-child(2) {
  background: url("./assest/images/handbag.webp") lightgray 50% / contain
    no-repeat;
}

.header-menu-collection-image button {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.header-action-cart-wrapper {
  margin-right: 10px;
}
