@media screen and (max-width: 767.98px) {
  body {
    padding-bottom: 75px;
  }

  .mobile-nav {
    &-bottom {
      display: flex;
      padding: 15px 10px 20px 10px;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
      z-index: 9;
    }

    &-qty svg {
      fill: var(--sale);
    }
  }
}
