table,
td,
th {
  border: 1px solid var(--line);
}

th,
td {
  padding: 20px;
  text-align: left;
}

th {
  font-weight: 500;
}

table {
  border-collapse: collapse;
  width: 60%;
}

.table-product-image {
  width: 80px;
  height: 120px;
  overflow: hidden;
  & img {
    border-radius: 10px;
    object-fit: contain;
  }
}

.table-product-info,
.table-product-price {
  color: var(--heading);
}

.table-cart-quantity-control {
  display: flex;
  align-items: center;
  border: 1px solid var(--line-soft);
  border-radius: 4px;
  width: fit-content;
  overflow: hidden;
  background-color: var(--line);
}

.table-cart-quantity-control button {
  width: 35px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-cart-quantity-control input {
  width: 40px;
  text-align: center;
  border: none;
  outline: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}