:root {
  --heading: #111111;
  --body: #555555;
  --body-secondary: #999999;
  --line: #ebebeb;
  --line-soft: #dedede;
  --sale: #d73f0f;
  --pre-order: #177983;
  --sold-out: #757575;
  --white: #ffffff;
  --top-links: #d0473e;
  --hot-badge: #e02f60;
  --new-badge: #516cf4;

  --max-width: 1920px;
  --header-height-mobile: 73px;
  --header-height-desktop: 70px;
  --header-notification-height: 40px;
  --header-topLinks-height: 40px;
  --padding-container: 30px;
  --padding-mb-container: 20px;
  --progress-shipping: 30%;
}
